# SPDX-FileCopyrightText: 2024 Alexander zur Bonsen <alexander.zur.bonsen@tngtech.com>
# SPDX-License-Identifier: Apache-2.0

name: Lint
run-name: Lint if-webpage-plugins

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: 22.21.0

      - name: Install dependencies
        run: npm install

      - name: Run linter
        run: npm run lint
