# SPDX-FileCopyrightText: 2024 Alexander zur Bonsen <alexander.zur.bonsen@tngtech.com>
# SPDX-License-Identifier: Apache-2.0

name: Test
run-name: Run unit tests for if-webpage-plugins

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04 # setting to 22.04 due to AppArmor restrictions that block Chromium on 24.04
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: 22.21.0

      - name: Install dependencies
        run: pnpm install

      - name: Run type checking
        run: pnpm run typecheck

      - name: Run unit tests
        run: pnpm run test:ci

      - name: Build project
        run: pnpm run build
